extends layout

block content
  h1= title
  p 
    //-include bogus
  p
  p
  p


  div(class='search')
    form(method='action', action='/books/search')
        input(for='search' type='text', name='search', placeholder='Search..')
        input(type='submit', value='Search', id="searchSubmit")

    a.button(href="/books", class='btn-right') Home
    a.button(href='/books/new', class='btn-right') Create New Book
        
  br
  br
  br
  br
    
  

  table
    thead
        tr
            th Title
            th Author
            th Genre
            th Year
    tbody
        each book in books
            tr
                td
                    a(href='/books/' + book.id)= book.title
                td= book.author
                td= book.genre
                td= book.year



  br
  .pagination
    - let page=1;
    while page <= pages
      a.button(href=`/books?query=${query?query:""}&page=${page}` class=`${activePage===page ? "active" : ""}`)= page
    
      - page += 1;

